<div class="container">
    <mat-card class="title">
        <mat-icon id="backBtn" aria-hidden="false" aria-label="arrow_back"  [routerLink]="['/confirm-reject-student-registed']" routerLinkActive="router-link-active">arrow_back</mat-icon>
        <p>Student Information</p>
    </mat-card>
  
    <mat-card class="contentContainer">
      <form style="margin-left: 1em">
            <div class="center">
                <img class="img-width" [attr.src]="student?.image" [alt]="student?.name">
            </div>
        <mat-form-field class="full-width">
            <input matInput placeholder="Student Id" [value]="student?.studentId" readonly>
        </mat-form-field>
        <table class="full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="First name" [value]="student?.name" readonly>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="surname" [value]="student?.surname" readonly>
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <mat-form-field class="full-width">
            <input matInput placeholder="Student Id" [value]="student?.studentId" readonly>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Date of Day" [value]="getDate(student?.dob)" readonly>
        </mat-form-field>

        <table class="full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Major" [value]="student?.major" readonly>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Year" [value]="student?.year" readonly>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <mat-form-field class="full-width">
            <input matInput placeholder="Email" [value]="student?.email" readonly>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Username" [value]="student?.user?.username" readonly>
        </mat-form-field>

        </form>
    </mat-card>
</div>