.container {
    margin-top: 3%;
    margin-bottom: 3%;
  }
  
  .contentContainer {
    padding: 30px;
    margin-top: 10px;
  }
  
  .title {
    padding: 20px 30px;
    background-color: rgb(255, 153, 70);
    color: white;
    font-size: 20px;
    display: flex;
    margin-bottom: 8px;
    font-weight: 500;
  }
  
.full-width {
	width: 100%;
  }
  
  .center-button {
	text-align: center;
	padding-left: .5em;
	min-width: 0.5rem;
	max-width: 0.5rem;
  }
  
  .center-text {
	text-align: center;
  }
  
  .center {
	display: flex;
	justify-content: center;
  }
  .penInput {
	  min-width:3rem;
	  max-width: 6rem;
	}

img{
    border-radius: 6.25px;
}

.img-width{
	max-width: 350px;		
}

#backBtn {
    margin: 5px 20px 0px 2px;
    cursor: pointer;
    transition: 400ms;
}
  
#backBtn:hover {
    color: rgb(167, 167, 167);
}
  
#backBtn:active {
    color: rgb(83, 83, 83);
}