<div class="container">
    <mat-card class="title">
        <p>Add new Activity</p>
    </mat-card>
    <mat-card class="cardForm">
        <form [formGroup]="form" style="margin-left: 1em" (submit)="submit()">
            <mat-form-field class="full-width">
                <input matInput formControlName="name" placeholder="Activity name" required>
                <mat-error *ngFor="let validation of validation_messages.name">
                    <mat-error class="error-message" *ngIf="form.get('name').hasError(validation.type) 
                                && (form.get('name').dirty || form.get('name').touched)">
                        {{validation.message}}
                    </mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput formControlName="location" placeholder="Location" required>
                <mat-error *ngFor="let validation of validation_messages.location">
                    <mat-error class="error-message" *ngIf="form.get('location').hasError(validation.type) 
                                && (form.get('location').dirty || form.get('location').touched)">
                        {{validation.message}}
                    </mat-error>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-select placeholder="Host" formControlName="host">
                  <mat-option *ngFor="let teacher of teachers" [value]="teacher">
                    {{ teacher.name }} {{teacher.surname}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls['host'].hasError('required')">
                  Host of activity is <strong>required</strong>
                </mat-error>
              </mat-form-field>

            <table class="full-width" cellspacing="0">
                <div class="question">Period of registration</div>
                <tr>
                    <td>
                        <mat-form-field class="full-width" style="padding-right: 10px;">
                            <input matInput formControlName="startRegisDate" [matDatepicker]="startDateRegis"
                                placeholder="Start" required>
                            <mat-datepicker-toggle matSuffix [for]="startDateRegis"></mat-datepicker-toggle>
                            <mat-datepicker #startDateRegis></mat-datepicker>
                            <mat-error *ngFor="let validation of validation_messages.startRegisDate">
                                <mat-error class="error-message"
                                    *ngIf="form.get('startRegisDate').hasError(validation.type) 
                                            && (form.get('startRegisDate').dirty || form.get('startRegisDate').touched)">
                                    {{validation.message}}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full-width" style="padding-left: 10px;">
                            <input matInput formControlName="endRegisDate" [matDatepicker]="EndDateRegis"
                                placeholder="End" required>
                            <mat-datepicker-toggle matSuffix [for]="EndDateRegis"></mat-datepicker-toggle>
                            <mat-datepicker #EndDateRegis></mat-datepicker>
                            <mat-error *ngFor="let validation of validation_messages.endRegisDate">
                                <mat-error class="error-message"
                                    *ngIf="form.get('endRegisDate').hasError(validation.type) 
                                            && (form.get('endRegisDate').dirty || form.get('endRegisDate').touched)">
                                    {{validation.message}}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <div class="question">Date of activity</div>
                <tr>
                    <td>
                        <mat-form-field class="full-width" style="padding-right: 10px;">
                            <input matInput formControlName="startActDate" [matDatepicker]="startDateAct"
                                placeholder="Start" required>
                            <mat-datepicker-toggle matSuffix [for]="startDateAct"></mat-datepicker-toggle>
                            <mat-datepicker #startDateAct></mat-datepicker>
                            <mat-error *ngFor="let validation of validation_messages.startActDate">
                                <mat-error class="error-message" *ngIf="form.get('startActDate').hasError(validation.type) 
                                            && (form.get('startActDate').dirty || form.get('startActDate').touched)">
                                    {{validation.message}}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full-width" style="padding-left: 10px;">
                            <input matInput formControlName="endActDate" [matDatepicker]="EndDateAct" placeholder="End"
                                required>
                            <mat-datepicker-toggle matSuffix [for]="EndDateAct"></mat-datepicker-toggle>
                            <mat-datepicker #EndDateAct></mat-datepicker>
                            <mat-error *ngFor="let validation of validation_messages.endActDate">
                                <mat-error class="error-message" *ngIf="form.get('endActDate').hasError(validation.type) 
                                            && (form.get('endActDate').dirty || form.get('endActDate').touched)">
                                    {{validation.message}}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <table class="full-width" cellspacing="0">
                <div class="question">Time of activity</div>
                <tr>
                    <td>
                        <mat-form-field hintLabel="HH.MM a.m./p.m." class="full-width" style="padding-right: 10px;">
                            <input matInput formControlName="startTime" placeholder="Strat Time" required>
                            <mat-error *ngFor="let validation of validation_messages.startTime">
                                    <mat-error class="error-message" *ngIf="form.get('startTime').hasError(validation.type) 
                                            && (form.get('startTime').dirty || form.get('startTime').touched)">
                                        {{validation.message}}
                                    </mat-error>
                            </mat-error>   
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field hintLabel="HH.MM a.m./p.m." class="full-width" style="padding-left: 10px;">
                            <input matInput formControlName="endTime" placeholder="End Time" required>
                            <mat-error *ngFor="let validation of validation_messages.endTime">
                                    <mat-error class="error-message" *ngIf="form.get('endTime').hasError(validation.type) 
                                            && (form.get('endTime').dirty || form.get('endTime').touched)">
                                        {{validation.message}}
                                    </mat-error>
                            </mat-error>   
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <mat-form-field class="full-width" style="padding-top: 20px;">
                <textarea matInput formControlName="description" placeholder="Description"></textarea>
                <mat-error *ngFor="let validation of validation_messages.description">
                    <mat-error class="error-message" *ngIf="form.get('description').hasError(validation.type) 
                                && (form.get('description').dirty || form.get('description').touched)">
                        {{validation.message}}
                    </mat-error>
                </mat-error>
            </mat-form-field>
            <div class="center">
                <button mat-raised-button id="addBtn" type="submit" [disabled]="!form.valid">Add</button>
            </div>
        </form>
    </mat-card>
</div>