<h1 mat-dialog-title>Activity Detail</h1>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography actDetail">
  <p><span class="topic">Name: </span>{{data.name}}</p>
  <p><span class="topic">Description: </span>{{data.description}}</p>
  <p><span class="topic">Teacher: </span>{{data.host.name}} {{data.host.surname}}</p>
  <p><span class="topic">Location: </span>{{data.location}}</p>
  <p><span class="topic">Date: </span>{{getDate(data.startActDate, data.endActDate)}}</p>
  <p><span class="topic">Time: </span>{{data.startTime}} - {{data.endTime}}</p>
  <p><span class="topic">Period of register: </span>{{getDate(data.startRegisDate,data.endRegisDate)}}</p>
</mat-dialog-content>
<mat-dialog-actions align="end" style="padding-bottom: 20px;">
  <button mat-raised-button color="primary" [mat-dialog-close]="true">Confirm</button>
  <button mat-raised-button color="warn" [mat-dialog-close]="false">Cancel</button>
</mat-dialog-actions>