<div class="container">
  <mat-card class="title">
    <mat-icon id="backBtn" aria-hidden="false" aria-label="arrow_back" [routerLink]="['/login']"
      routerLinkActive="router-link-active">arrow_back</mat-icon>
    <span>Registration Form</span>
  </mat-card>

  <mat-card class="contentContainer">
    <form style="margin-left: 1em" [formGroup]="form" (submit)="submit()">

      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="First name" formControlName="name" required>
              <mat-error *ngFor="let validation of validation_messages.name">
                <mat-error class="error-message" *ngIf="form.get('name').hasError(validation.type) 
                          && (form.get('name').dirty || form.get('name').touched)">
                  {{validation.message}}
                </mat-error>
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Surname" formControlName="surname" required>
              <mat-error *ngFor="let validation of validation_messages.surname">
                <mat-error class="error-message" *ngIf="form.get('surname').hasError(validation.type) 
                          && (form.get('surname').dirty || form.get('surname').touched)">
                  {{validation.message}}
                </mat-error>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <mat-form-field class="full-width">
        <input matInput [matDatepicker]="picker" placeholder="Date of birth" formControlName="dob" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Student Id" formControlName="studentId" required>
        <mat-error *ngFor="let validation of validation_messages.studentId">
          <mat-error class="error-message" *ngIf="form.get('studentId').hasError(validation.type) 
                    && (form.get('studentId').dirty || form.get('studentId').touched)">
            {{validation.message}}
          </mat-error>
        </mat-error>
      </mat-form-field>

      <!--Major-->
      <mat-form-field class="full-width">
        <mat-label>Major</mat-label>
        <mat-select matNativeControl formControlName="major" required>
          <mat-option value="Animation and Visual Effects">Animation and Visual Effects</mat-option>
          <mat-option value="Digital Game">Digital Game</mat-option>
          <mat-option value="Digital industry Integration">Digital industry Integration</mat-option>
          <mat-option value="Software Engineering">Software Engineering</mat-option>
          <mat-option value="Modern Management Information and Technology">Modern Management Information and Technology
          </mat-option>
        </mat-select>
        <mat-error *ngFor="let validation of validation_messages.major">
          <mat-error class="error-message" *ngIf="form.get('major').hasError(validation.type) 
              && (form.get('major').dirty || form.get('major').touched)">
            {{validation.message}}
          </mat-error>
        </mat-error>
      </mat-form-field>

      <!--Year-->
      <mat-form-field class="full-width">
        <mat-label>Year</mat-label>
        <mat-select matNativeControl formControlName="year" required>
          <mat-option value="1st year">1st year</mat-option>
          <mat-option value="2nd year">2nd year</mat-option>
          <mat-option value="3rd year">3rd year</mat-option>
          <mat-option value="4th year">4th year</mat-option>
        </mat-select>
        <mat-error *ngFor="let validation of validation_messages.year">
          <mat-error class="error-message" *ngIf="form.get('year').hasError(validation.type) 
                    && (form.get('year').dirty || form.get('year').touched)">
            {{validation.message}}
          </mat-error>
        </mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field class="full-width">
        <input matInput placeholder="Enter your email" formControlName="email" (keyup)="showUsername()" required>
        <mat-error *ngFor="let validation of validation_messages.email">
          <mat-error class="error-message" *ngIf="form.get('email').hasError(validation.type) 
                    && (form.get('email').dirty || form.get('email').touched)">
            {{validation.message}}
          </mat-error>
        </mat-error>
      </mat-form-field>

      <!-- Useranme -->
      <mat-form-field class="full-width">
        <input matInput placeholder="Username" formControlName="username" readonly>
      </mat-form-field>

      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Password" formControlName="password" [value]="student?.password" required>
              <mat-error *ngFor="let validation of validation_messages.password">
                <mat-error class="error-message" *ngIf="form.get('password').hasError(validation.type) 
                                && (form.get('password').dirty || form.get('password').touched)">
                  {{validation.message}}
                </mat-error>
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Confirm password" formControlName="confirmPassword"
                [value]="student?.password" [errorStateMatcher]="matcher">
              <mat-error class="error-message" *ngIf="form.hasError('notSame')">
                Passwords do not match
              </mat-error>
              <mat-error *ngFor="let validation of validation_messages.confirmPassword">
                <mat-error class="error-message" *ngIf="form.get('confirmPassword').hasError(validation.type)
                                    && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)">
                  {{validation.message}}
                </mat-error>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <form class="full-width">
        <mat-file-upload [labelText]="'Select your images:'" [selectButtonText]="'Choose File'"
          [uploadButtonText]="'Upload'" [allowMultipleFiles]="false" [showUploadButton]="true"
          [acceptedTypes]="'.png, .jpg, .jpeg'" [customSvgIcon]="'close_custom'"
          (uploadClicked)="onUploadClicked($event)" (selectedFilesChanged)="onSelectedFilesChanged($event)">
        </mat-file-upload>
        <mat-progress-bar mode="determinate" [value]="progress" *ngIf="progress > 0"></mat-progress-bar>
        <div class="center" id="imgPre"><img id="noPreviewImg" src="assets\images\nopreview.png"></div>
      </form>
      <mat-hint class="hint"><strong>Hint:</strong> Click on upload button for upload the image before registration
      </mat-hint>

      <!-- Submit button -->
      <div class="center">
        <button mat-raised-button color="primary" type="submit" class="regis-button"
          [disabled]="!imageUploaded()">Register</button>
      </div>
    </form>
  </mat-card>
</div>