.container {
  margin-top: 3%;
  margin-bottom: 3%;
}

.contentContainer {
  padding: 30px;
  margin-top: 10px;
}

.title {
  padding: 20px 30px;
  background-color: rgb(255, 153, 70);
  color: white;
  font-size: 23px;
  font-weight: 500;
}

.full-width {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.regis-button {
  margin-top: 30px;
  background-color: rgb(255, 153, 70);
  transition: 500ms;
}

.regis-button:hover {
  background-color: rgb(233, 140, 64);
}

.hint {
  font-size: 10px;
}

#backBtn {
  margin: 6px 20px 0px 2px;
  cursor: pointer;
  transition: 400ms;
}

#noPreviewImg {
  max-width: 300px;
}