<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <!-- Admin, Teacher, Student -->
            <a *ngIf="hasRole('ADMIN, TEACHER, STUDENT')" mat-list-item [routerLink]="['/activityList']"
                routerLinkActive="router-link-active">Activity list</a>
            <!-- Student -->
            <a *ngIf="hasRole('STUDENT')" mat-list-item [routerLink]="['/enrollActivity']"
                routerLinkActive="router-link-active">Enroll Activity</a>
            <a *ngIf="hasRole('STUDENT')" mat-list-item [routerLink]="['/view-enrolled-act']"
                routerLinkActive="router-link-active">View Enrolled Activity</a>
            <!-- Teacher -->
            <a *ngIf="hasRole('TEACHER')" mat-list-item [routerLink]="['/chooseActToViewWaitingStudent']"
                routerLinkActive="router-link-active">View Waiting List</a>
            <a *ngIf="hasRole('TEACHER')" mat-list-item [routerLink]="['/ownActivityList']"
                routerLinkActive="router-link-active">Your Activity</a>
            <!-- Admin -->
            <a *ngIf="hasRole('ADMIN')" mat-list-item [routerLink]="['/confirm-reject-student-registed']"
                routerLinkActive="router-link-active">Confirm-Reject Student</a>
            <a *ngIf="hasRole('ADMIN')" mat-list-item [routerLink]="['/addActivity']"
                routerLinkActive="router-link-active">Add Activity</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="nav-content">
        <mat-toolbar color="primary" *ngIf="hasRole('ADMIN, TEACHER, STUDENT')">
            <mat-toolbar-row>
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                    *ngIf="isShowMenu() && !isRegis()">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <mat-icon *ngIf="isRegis()" id="backBtn" aria-hidden="false" aria-label="arrow_back"
                    [routerLink]="['/login']" routerLinkActive="router-link-active">arrow_back</mat-icon>
                <h1>Learning Through Activity</h1>
                <span *ngIf="!isShowMenu() || isRegis()" class="menu-spacer">:</span>
                <span *ngIf="isRegis()" class="menu-spacer">Registration</span>
                <!-- Admin, Teacher, Student -->
                <a class="myLink" *ngIf="!isShowMenu() && hasRole('ADMIN, TEACHER, STUDENT')" mat-button [routerLink]="['/activityList']"
                    routerLinkActive="router-link-active">Activity list</a>
                <!-- Student -->
                <a class="myLink" *ngIf="hasRole('STUDENT')" mat-button [routerLink]="['/enrollActivity']"
                    routerLinkActive="router-link-active">Enroll activity</a>
                <a class="myLink" *ngIf="!isShowMenu() && hasRole('STUDENT')" mat-button [routerLink]="['/view-enrolled-act']"
                    routerLinkActive="router-link-active">View Enrolled Activity</a>
                <!-- Teacher -->
                <a class="myLink" *ngIf="!isShowMenu() && hasRole('TEACHER')" mat-button [routerLink]="['/chooseActToViewWaitingStudent']"
                    routerLinkActive="router-link-active">View Waiting List</a>
                <a class="myLink" *ngIf="!isShowMenu() && hasRole('TEACHER')" mat-button [routerLink]="['/ownActivityList']"
                    routerLinkActive="router-link-active">Your Activity</a>
                <!-- Admin -->
                <a class="myLink" *ngIf="!isShowMenu() && hasRole('ADMIN')" mat-button
                    [routerLink]="['/confirm-reject-student-registed']"
                    routerLinkActive="router-link-active">Confirm-Reject Student</a>
                <a class="myLink" *ngIf="!isShowMenu() && hasRole('ADMIN')" mat-button [routerLink]="['/addActivity']"
                    routerLinkActive="router-link-active">Add
                    Activity</a>
                <div class="profile-Navbar">
                    <button mat-button [matMenuTriggerFor]="ProfileMenu">
                        <img mat-card-sm-image [src]="user.image || defaultImageUrl" class="profileImg">
                        <a> {{user.name}} : </a> 
                        <a> {{getRole(user)}} </a>
                    </button>
                    <mat-menu #ProfileMenu="matMenu" yPosition="below">
                        <button mat-menu-item type="button" (click)="updateProfile()">Update Profile</button>
                        <button mat-menu-item type="button" (click)="logout()">Logout</button>
                    </mat-menu>
                </div>

            </mat-toolbar-row>
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
