<div class="login-body">
    <div class="container">
        <p class="topic">Learning Through Activity</p>
        <p class="login-title">Login</p>
        <p *ngIf="!home">Please login to access the resource</p>
        <mat-card class="card">
            <div class="text-center">
                <img src="./assets/images/login.png" class="login-icon">
            </div>

            <form class="form" [formGroup]="addressForm">
                <!-- Username -->
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="username" placeholder="Email" id="email">
                    <mat-error *ngFor="let validation of validation_messages.username">
                        <mat-error class="error-message" *ngIf="addressForm.get('username').hasError(validation.type)"
                            [innerHTML]=validation.message>
                        </mat-error>
                    </mat-error>
                </mat-form-field>

                <!-- Password -->
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Password</mat-label>
                    <input [type]="hide ? 'text' : 'password'" matInput formControlName="password"
                        placeholder="Password" (keyup)="loginWithEnter($event)">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                    <mat-error *ngFor="let validation of validation_messages.password">
                        <mat-error class="error-message" *ngIf="addressForm.get('password').hasError(validation.type)"
                            [innerHTML]=validation.message>
                        </mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-error *ngIf="isError">
                    <strong>The username, and password is incorrect</strong>
                </mat-error>

                <div class="center">
                    <button type="button" mat-raised-button (click)="login()" class="btn-lg btn-block login-button">Log
                        in</button>
                </div>
                <mat-divider>or</mat-divider>
                <div class="button-center">
                    <button mat-raised-button class="btn-lg btn-block regis-button" [routerLink]="['/registration']"
                        routerLinkActive="router-link-active">Register</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>