.login-body {
    background-image: url('/assets/images/background3.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.container {
    max-width: 450px;
    text-align: center;
    padding-top: 5%;
}
    
.card {
    padding: 40px 40px 20px 40px;
    margin: 30px 30px 5px 30px;
}

.center {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
    
.login-icon {
    width: 110px;
    padding-top: 10px;
    padding-bottom: 30px;
}
    
.full-width {
    width: 100%;
}
    
.button-center {
    padding-top: 15px;
}
    
.login-button {
    background-color: rgb(97, 152, 204);
    font-size: 16px;
    transition: 400ms;
}

.login-button:hover {
    background-color: rgb(80, 127, 172);
}

.login-button:active {
    background-color: rgb(68, 108, 146);
}
    
.regis-button {
    background-color: rgb(92, 194, 134);
    font-size: 16px;
    transition: 400ms;
}

.regis-button:hover {
    background-color: rgb(76, 163, 113);
}

.regis-button:active {
    background-color: rgb(65, 139, 97);
}
    
.topic {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(50, 50, 104);
    border: 600px;
}
    
.login-title {
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(24, 77, 121);
}

