<div class="container">
  <mat-card class="title">
      <mat-icon id="backBtn" aria-hidden="false" aria-label="arrow_back" 
      [routerLink]="['/ownActivityList']" routerLinkActive="router-link-active">arrow_back</mat-icon>
      <span><b>Student enrolled</b></span>
  </mat-card>

  <mat-card class="contentContainer">
    <div class="actName">
      <span><b>Activity name :</b> {{activity?.name}}</span>
    </div>
    
      <mat-form-field appearance="outline">
          <mat-label>Searce by student name...</mat-label>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Searce by name...">
          <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <div class="tableContainer">
          <table mat-table class="full-width-table" matSort aria-label="Elements">
              <!-- Student id Column -->
              <ng-container matColumnDef="studentId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Student ID</th>
                  <td mat-cell *matCellDef="let student">{{student.studentId}}</td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                  <td mat-cell *matCellDef="let student">{{student.name}}</td>
              </ng-container>
              <!-- Surname Column -->
              <ng-container matColumnDef="surname">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Surname</th>
                  <td mat-cell *matCellDef="let student">{{student.surname}}</td>
              </ng-container>
              <!-- Major Column -->
              <ng-container matColumnDef="major">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Major</th>
                  <td mat-cell *matCellDef="let student">{{student.major}}</td>
              </ng-container>
              <!-- Year Column -->
              <ng-container matColumnDef="year">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Year</th>
                  <td mat-cell *matCellDef="let student">{{student.year}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
              [pageSizeOptions]="[25, 50, 100, 250]">
          </mat-paginator>
      </div>
  </mat-card>
</div>