<div class="container">
    <mat-card class="title">
        <p>Your Activities</p>
        <mat-divider></mat-divider>
        <p style="font-size: 15px; margin-top: 30px;"><b>Teacher: </b>{{teacher?.name}} {{teacher?.surname}}</p>
    </mat-card>

    <mat-card class="contentContainer">
        <mat-form-field appearance="outline">
            <mat-label>Search Activity</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)"
                placeholder="Searce by activity name or period of registration">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <div class="tableContainer">
            <table mat-table class="full-width-table" matSort aria-label="Elements">
                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID.</th>
                    <td mat-cell *matCellDef="let activity">{{activity.id}}</td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                    <td mat-cell *matCellDef="let activity">{{activity.name}}</td>
                </ng-container>
                <!-- Date Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                    <td mat-cell *matCellDef="let activity">{{getDate(activity.startActDate, activity.endActDate)}}</td>
                </ng-container>
                <!-- Time Column -->
                <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
                    <td mat-cell *matCellDef="let activity">{{activity.startTime}} - {{activity.endTime}}</td>
                </ng-container>
                <!-- Time Column -->
                <ng-container matColumnDef="location">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
                    <td mat-cell *matCellDef="let activity">{{activity.location}}</td>
                </ng-container>
                <!-- Time Column -->
                <ng-container matColumnDef="periodRegis">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Period of regis.</th>
                    <td mat-cell *matCellDef="let activity">{{getDate(activity.startRegisDate,activity.endRegisDate)}}</td>
                </ng-container>
                <!-- View button Column -->
                <ng-container matColumnDef="btnCol">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let activity">
                        <div class="center">
                            <button mat-raised-button color="primary" class="center-button"
                                [routerLink]="['/viewActivityEnrolledStudent/'+ activity.id]"
                                routerLinkActive="router-link-active">View student</button>
                            <button mat-raised-button color="primary" class="center-button"
                                [routerLink]="['/updateActivity/'+activity.id]"
                                routerLinkActive="router-link-active" style="margin-left: 5px;">Update</button>
                            <!-- <button type="button" mat-raised-button color="accent" class="center-button"
                                (click)="remove(activity)" style="margin-left: 5px;">
                                <mat-icon aria-hidden="false" aria-label="bin icon">delete</mat-icon>
                            </button> -->
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
                [pageSizeOptions]="[25, 50, 100, 250]">
            </mat-paginator>
        </div>
    </mat-card>
</div>