<div class="container">
  <mat-card class="title">
    <div *ngIf="isEnrollPage() && hasRole('STUDENT')">
      <p>Enroll Activity</p>
    </div>
    <div *ngIf="isActivityListPage() && hasRole('STUDENT, TEACHER, ADMIN')">
      <p>Activities</p>
    </div>
  </mat-card>

  <mat-card class="contentContainer">
    <label class="rafioBtn-margin bold">Search by: </label>
    <mat-radio-group>
      <mat-radio-button class="rafioBtn-margin" (click)="changeSearchBy('name')">name</mat-radio-button>
      <mat-radio-button class="rafioBtn-margin" value="period" (click)="changeSearchBy('period')">period of registration
      </mat-radio-button>
    </mat-radio-group>

    <!-- Search by name-->
    <mat-form-field *ngIf="isSearchBy('name')" appearance="outline">
      <mat-label>Search Activity by name</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)"
        placeholder="Searce by activity name or period of registration">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <!-- Search by period of regis-->
    <div class="searchContainer" *ngIf="isSearchBy('period')" [formGroup]="formDate">
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width" style="padding-right: 10px;">
              <input matInput formControlName="startRegis" [matDatepicker]="startDateRegis" placeholder="Start"
                (dateChange)="applyFilterPeriod()">
              <button mat-button *ngIf="formDate.value['startRegis']" matSuffix mat-icon-button aria-label="Clear"
                (click)="clearDate('start')">
                <mat-icon>close</mat-icon>
              </button>
              <mat-datepicker-toggle matSuffix [for]="startDateRegis"></mat-datepicker-toggle>
              <mat-datepicker #startDateRegis></mat-datepicker>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width" style="padding-left: 10px;">
              <input matInput formControlName="endRegis" [matDatepicker]="EndDateRegis" placeholder="End"
                (dateChange)="applyFilterPeriod()">
              <button mat-button *ngIf="formDate.value['endRegis']" matSuffix mat-icon-button aria-label="Clear"
                (click)="clearDate('end')">
                <mat-icon>close</mat-icon>
              </button>
              <mat-datepicker-toggle matSuffix [for]="EndDateRegis"></mat-datepicker-toggle>
              <mat-datepicker #EndDateRegis></mat-datepicker>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>

    <div class="tableContainer">
      <table mat-table class="full-width-table" matSort aria-label="Elements">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id.</th>
          <td mat-cell *matCellDef="let activity">{{activity.id}}</td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Activity Name</th>
          <td mat-cell *matCellDef="let activity">{{activity.name}}</td>
        </ng-container>
        <!-- Host Column -->
        <ng-container matColumnDef="host">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Teacher</th>
          <td mat-cell *matCellDef="let activity">{{activity.host.name}} {{activity.host.surname}}</td>
        </ng-container>
        <!-- Activity date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let activity">{{getDate(activity.startActDate, activity.endActDate)}}</td>
        </ng-container>
        <!-- Period of regis Column -->
        <ng-container matColumnDef="periodRegis">
          <th mat-header-cell *matHeaderCellDef>Period of regis.</th>
          <td mat-cell *matCellDef="let activity">{{getDate(activity.startRegisDate,activity.endRegisDate)}}</td>
        </ng-container>
        <!-- Time Column -->
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Time</th>
          <td mat-cell *matCellDef="let activity">{{activity.startTime}} - {{activity.endTime}}</td>
        </ng-container>
        <!-- Location Column -->
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef>Location</th>
          <td mat-cell *matCellDef="let activity">{{activity.location}}</td>
        </ng-container>
        <!-- button Column -->
        <ng-container matColumnDef="btnCol">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let activity">
            <div class="center">
              <div class="center" *ngIf="isEnrollPage() && hasRole('STUDENT')">
                <!-- Pending -->
                <button mat-raised-button *ngIf="isPending(activity) && !isEnrolled(activity)" class="center-button"
                  style="margin-right: 5px;" disabled>Pending</button>
                <!-- Enrolled-->
                <button mat-raised-button *ngIf="!isPending(activity) && isEnrolled(activity)" class="center-button"
                  style="margin-right: 5px;" disabled>Enrolled</button>
                <!-- Enroll button -->
                <button mat-raised-button *ngIf="!isPending(activity) && !isEnrolled(activity)" color="primary"
                  class="center-button" style="margin-right: 5px;"
                  (click)="openActivityDetail(activity)">Enroll</button>
              </div>
              <!-- Comment button -->
              <button mat-raised-button color="warn" class="center-button" (click)="goToComment(activity.id)">View
                Comment</button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="list-row"></tr>
      </table>

      <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
        [pageSizeOptions]="[25, 50, 100, 250]">
      </mat-paginator>
    </div>
  </mat-card>
</div>