.container {
    margin-top: 3%;
    margin-bottom: 3%;
}

.title {
    padding: 20px 30px;
    background-color: rgb(248, 222, 76);
    color: white;
    font-size: 20px;
    display: flex;
    margin-bottom: 8px;
}

.cardForm {
    padding: 30ps;
}

.full-width {
    width: 100%;
}

.center-text {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

.question {
    padding-top: 20px;
}

#addBtn[disabled]{
    background-color: rgb(178, 180, 190);
}

#addBtn {
    color: white;
    background-color: rgb(248, 222, 76);
    width: auto;
    height: auto;
    padding: 5px 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.comments-card {
    max-width: 100%;
    margin: 20px;
  }
  
.profile-image{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.comment-Content{
    padding-top: 10px;
    padding-bottom: 10px;
}

.photo-uploaded{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.comment-date{
    color: rgb(172, 172, 172);
    text-align: right;
    padding-right: 15px;
    padding-bottom: 10px;
}

.profile-name{
    padding-top: 3px;
}

.user-comment-img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.commentform-card{
    max-width: 100%;
    margin: 20px;
    padding-right: 10px;

}

.comment-box{
    width: 100%;
    padding-top: 20px;
    
}

.upload-img{
    margin-top: 10px; 
}

#backBtn {
    margin: 5px 20px 0px 2px;
    cursor: pointer;
    transition: 400ms;
}
  
#backBtn:hover {
    color: rgb(167, 167, 167);
}
  
#backBtn:active {
    color: rgb(83, 83, 83);
}

#deleteBtn{
    position:absolute;
    width:2px;
    height:2px;
    top:10px;
    right:30px; 
    cursor: pointer;
}

#deleteBtn:hover {
    color: rgb(167, 167, 167);
}
  
#deleteBtn:active {
    color: rgb(83, 83, 83);
}
