<div class="container">
    <mat-card class="title">
        <mat-icon id="backBtn" aria-hidden="false" aria-label="arrow_back" [routerLink]="['/activityList']"
            routerLinkActive="router-link-active">arrow_back</mat-icon>
        <p>Activity: {{activity?.name}}</p>
    </mat-card>
    <mat-card class="cardForm">
        <mat-list>
            <mat-list-item><b>Comments</b></mat-list-item>
            <mat-divider [inset]="true"></mat-divider>
        </mat-list>
        <!--Comment Form-->
        <form [formGroup]="form" (submit)="submit()" *ngIf="hasRole('STUDENT,TEACHER')">
            <mat-card class="commentform-card">
                <img mat-card-sm-image class="user-comment-img" [src]="user?.image || defaultImageUrl">
                <a><b>{{user?.name}}</b></a>
                <mat-form-field class="comment-box">
                    <textarea matInput placeholder="What do you think?" formControlName="message"></textarea>
                </mat-form-field>
                <form class="upload-img">
                    <mat-file-upload [labelText]="'Select your images'" [selectButtonText]="'choose file'"
                        [uploadButtonText]="'Upload'" [allowMultipleFiles]="false" [showUploadButton]="true"
                        [acceptedTypes]="'.png, .jpg, .jpeg'"
                        (uploadClicked)="onUploadClicked($event)"
                        (selectedFilesChanged)="onSelectedFilesChanged($event)">
                    </mat-file-upload>
                    <mat-progress-bar mode="determinate" [value]="progress" *ngIf="progress > 0"></mat-progress-bar>
                </form>

                <div class="center">
                    <button mat-raised-button color="primary" type="submit" [disabled]="!isFill()">Send</button>
                </div>
            </mat-card>
        </form>
        <mat-card class="comments-card" *ngFor="let comment of comments">
            <mat-icon id="deleteBtn" aria-hidden="false" aria-label="delete" (click)="deleteComment(comment.id)" *ngIf="hasRole('ADMIN')">delete</mat-icon>
            <mat-card-header>
                <div mat-card-avatar>
                    <img mat-card-sm-image class="profile-image" [attr.src]="comment?.author?.image || defaultImageUrl">
                </div>
                <mat-card-title class="profile-name">{{comment?.author?.name + " " + comment?.author?.surname }}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p class="comment-Content">
                    {{comment?.message}}
                </p>
                <div class="photo-uploaded">
                    <img mat-card-image [attr.src]="comment?.image">
                </div>
            </mat-card-content>
            <mat-card-footer class="comment-date">{{getDate(comment.timestamp)}}</mat-card-footer>
        </mat-card>
    </mat-card>
</div>