<div class="container">
    <mat-card class="title">
        <p>Update Profile</p>
    </mat-card>

    <mat-card class="contentContainer">
        <form style="margin-left: 1em" [formGroup]="form">

            <div class="center">
                <img class="profileImg" [src]="user.image || defaultImageUrl">
            </div>

            <!-- Image -->
            <form>
                <mat-file-upload [labelText]="'Change your images: '" [selectButtonText]="'Choose File'"
                    [uploadButtonText]="'Change image'" [allowMultipleFiles]="false" [showUploadButton]="true"
                    [customSvgIcon]="'close_custom'" [acceptedTypes]="'.png, .jpeg, .JPEG'"
                    (uploadClicked)="onUploadClicked($event)" (selectedFilesChanged)="onSelectedFilesChanged($event)">
                </mat-file-upload>
                <mat-progress-bar mode="determinate" [value]="progress" *ngIf="progress > 0"></mat-progress-bar>
            </form>

            <!-- Old password -->
            <mat-divider style="margin-top: 20px;"></mat-divider>
            <div class="question">Change password</div>
            <mat-form-field class="full-width">
                <input matInput placeholder="Old password" formControlName="oldPassword">
                <mat-error *ngFor="let validation of validation_messages.oldPassword">
                    <mat-error class="error-message"
                        *ngIf="form.get('oldPassword').hasError(validation.type) && (form.get('oldPassword').dirty || form.get('oldPassword').touched)">
                        {{validation.message}}
                    </mat-error>
                </mat-error>
            </mat-form-field>

            <!-- New password -->
            <mat-form-field class="full-width">
                <input matInput placeholder="New password" formControlName="newPassword" (keyup)="newPassdirty=true">
                <mat-error *ngFor="let validation of validation_messages.newPassword">
                    <mat-error class="error-message" *ngIf="form.get('newPassword').hasError(validation.type) 
                                && (form.get('newPassword').dirty || form.get('newPassword').touched)">
                        {{validation.message}}
                    </mat-error>
                </mat-error>
            </mat-form-field>

            <!-- Confirm password -->
            <mat-form-field class="full-width">
                <input matInput placeholder="Confirm password" formControlName="confirmPassword"
                    [errorStateMatcher]="matcher">
                <mat-error class="error-message" *ngIf="form.hasError('notSame') && newPassdirty">
                    Passwords do not match
                </mat-error>
                <mat-error *ngFor="let validation of validation_messages.confirmPassword">
                    <mat-error class="error-message" *ngIf="form.get('confirmPassword').hasError(validation.type)
                                    && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)">
                        {{validation.message}}
                    </mat-error>

                </mat-error>


            </mat-form-field>

            <!-- Submit button -->
            <div class="center">
                <button mat-raised-button color="primary" type="button" class="update-button" (click)="changePassword()"
                    [disabled]="!form.valid">Change passwrod</button>
            </div>
        </form>
    </mat-card>
</div>