.container {
    margin-top: 3%;
    margin-bottom: 3%;
}

.contentContainer {
    padding: 30px;
    margin-top: 10px;
}

.title {
    padding: 20px 30px;
    background-color: rgb(71, 150, 202);
    text-align: center;
    color: white;
    font-size: 23px;
    font-weight: 500;
}

.full-width {
    width: 100%;
    padding-top: 15px;
}

.center-text {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

.profileImg {
    width: 250px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.main-card {
    padding: 0px 0px 20px 0px;
    margin: 5px;
    justify-content: center;
    text-align: center;
}

.update-button {
    background-color: rgb(71, 150, 202);
}

.question {
    margin-top: 50px;
}